<form #editForm="ngForm" (ngSubmit)="updateElement()">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let input of element | keyvalue">
        <ion-item>
          <ion-label position="floating">{{
            input.key | camelToTitleCase
          }}</ion-label>
          <ion-input
            *ngIf="!isBool(input.value); else showCheckBox"
            [(ngModel)]="localElement[input.key]"
            [name]="input.key"
            required
          ></ion-input>
          <ng-template #showCheckBox>
            <ion-checkbox
              [name]="input.key"
              [(ngModel)]="localElement[input.key]"
              >{{ input.key | camelToTitleCase }}</ion-checkbox
            >
          </ng-template>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-button
          type="submit"
          [disabled]="editForm.invalid || !editFormChanged()"
          expand="full"
          >Update</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="deleteElement()" color="danger"
          >Delete</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
