<form #editForm="ngForm" (ngSubmit)="determineUpdation()">
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let input of element | keyvalue">
        <ion-col size="12" *ngIf="input.key !== 'id'">
          <ion-item>
            <ion-label position="floating" *ngIf="!isArray(input.value)">{{
              input.key | camelToTitleCase
            }}</ion-label>
            <!-- Boolean -->
            <ion-checkbox
              *ngIf="isBool(input.value); else showTextBox"
              [(ngModel)]="localElement[input.key]"
              [name]="input.key"
            ></ion-checkbox>
            <!-- Text Box -->
            <ng-template #showTextBox>
              <ion-input
                *ngIf="isString(input.value); else showNumberBox"
                [(ngModel)]="localElement[input.key]"
                [name]="input.key"
                required
              ></ion-input>
            </ng-template>
            <!-- Number -->
            <ng-template #showNumberBox>
              <ion-input
                *ngIf="isNumber(input.value); else showAvailableSlots"
                [(ngModel)]="localElement[input.key]"
                [name]="input.key"
                type="number"
                required
              ></ion-input>
            </ng-template>
            <!-- Array -->
            <ng-template #showAvailableSlots>
              <preferred-slots-picker
                [slots]="input.value"
              ></preferred-slots-picker>
            </ng-template>
          </ion-item>
        </ion-col>
      </ng-container>
      <ion-col size="6">
        <ion-button
          type="submit"
          [disabled]="editForm.invalid || !editFormChanged()"
          expand="full"
          >Update</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="determineDeletion()" color="danger"
          >Delete</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
