<!-- Days -->
<ion-row>
  <ion-col size="12">
    <ion-segment (ionChange)="setTable($event)" value="0">
      <ion-segment-button value="0">
        <ion-label>Monday</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Tuesday</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Wednesday</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Thursday</ion-label>
      </ion-segment-button>
      <ion-segment-button value="4">
        <ion-label>Friday</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-row>
<ion-grid fixed>
  <!-- Every Day -->
  <ion-row class="header">
    <ion-col size="1.33">
      <!--Empty-->
    </ion-col>
    <!-- Slots -->
    <ion-col size="1.33">
      <ion-text>08:00-09:00</ion-text>
    </ion-col>
    <ion-col size="1.33">
      <ion-text>09:00-10:00</ion-text>
    </ion-col>
    <ion-col size="1.33">
      <ion-text>10:00-11:00</ion-text>
    </ion-col>
    <ion-col size="1.33">
      <ion-text>11:00-12:00</ion-text>
    </ion-col>
    <ion-col size="1.33">
      <ion-text>12:00-13:00</ion-text>
    </ion-col>
    <ion-col size="1.33">
      <ion-text>13:00-14:00</ion-text>
    </ion-col>
    <ion-col size="1.33">
      <ion-text>14:00-15:00</ion-text>
    </ion-col>
    <ion-col size="1.33">
      <ion-text>15:00-16:00</ion-text>
    </ion-col>
  </ion-row>
  <ion-row
    *ngFor="let room of rooms; let roomNumber = index; trackBy: itemTracker"
  >
    <ion-col size="1.33"
      ><ion-text>{{ room.name }}</ion-text></ion-col
    >
    <ion-col
      size="1.33"
      *ngFor="let slotNumber of slotNumbers; trackBy: itemTracker"
      [style.backgroundColor]="
        getColor(viewTimetable.get(day, roomNumber, slotNumber))
      "
      class="lecture-cell"
      (click)="
        presentSwapper(
          viewTimetable.get(day, roomNumber, slotNumber),
          day,
          room.id,
          slotNumber
        )
      "
    >
      <!-- Individual Cell -->
      <div class="margin-center">
        <ion-row
          *ngIf="
            viewTimetable.get(day, roomNumber, slotNumber).courseId &&
            viewTimetable.get(day, roomNumber, slotNumber).name
          "
        >
          <ion-label class="margin-center">
            {{
              getCourseById(
                viewTimetable.get(day, roomNumber, slotNumber).courseId
              ).shortTitle
            }}
            -
            {{ viewTimetable.get(day, roomNumber, slotNumber).name }}
          </ion-label>
        </ion-row>
        <ion-row
          *ngIf="viewTimetable.get(day, roomNumber, slotNumber).teacherIds"
        >
          <ion-label class="margin-center">
            <span
              *ngFor="
                let teacherId of viewTimetable.get(day, roomNumber, slotNumber)
                  .teacherIds
              "
            >
              {{ getTeacherById(teacherId).name }}
            </span>
          </ion-label>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- Publish -->
<ion-row>
  <ion-col class="ion-text-center" size="12">
    <ion-button (click)="presentPublisher()"
      >Publish This Time Table</ion-button
    >
  </ion-col>
</ion-row>
