<ng-container *ngIf="teachers">
  <ion-grid *ngFor="let department of getTeacherDepartments()" fixed>
    <ion-row>
      <ion-col size="12">{{ department }}</ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col size="12">Name</ion-col>
    </ion-row>
    <ion-row
      class="body"
      *ngFor="
        let teacher of getTeachersByDepartment(department);
        trackBy: trackById
      "
      (click)="presentPopover(teacher)"
    >
      <ion-col size="12">{{ teacher.name }}</ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
