<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title slot="start">
        <ion-icon name="book"></ion-icon>
        Courses
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #coursesForm="ngForm" (ngSubmit)="addCourse();">
    <ion-row class="ion-margin">
      <ion-col size="1.5" size-xs="12" size-sm="6" size-md="1.5">
        <ion-item>
          <ion-label position="floating">Code</ion-label>
          <ion-input
            [(ngModel)]="course.courseCode"
            placeholder="MT-201"
            name="courseCode"
            required
            type="text"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1.25" size-xs="12" size-sm="6" size-md="1.25">
        <ion-item>
          <ion-label position="floating">Department</ion-label>
          <ion-input
            [(ngModel)]="course.department"
            placeholder="CS"
            name="department"
            required
            type="text"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input
            [(ngModel)]="course.title"
            placeholder="Operational Research"
            (focusout)="autoFillShortTitle()"
            name="title"
            required
            type="text"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1.5" size-xs="12" size-sm="6" size-md="1.5">
        <ion-item>
          <ion-label position="floating">Short Title</ion-label>
          <ion-input
            [(ngModel)]="course.shortTitle"
            placeholder="OR"
            name="shortTitle"
            required
            type="text"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2" size-xs="12" size-sm="6" size-md="2">
        <ion-item>
          <ion-label position="floating">Credit Hours</ion-label>
          <ion-input
            [(ngModel)]="course.creditHours"
            placeholder="3"
            name="creditHours"
            required
            type="number"
            (focusout)="autoFillDuration()"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2" size-xs="12" size-sm="6" size-md="2">
        <ion-item>
          <ion-label position="floating">Duration (Per Week)</ion-label>
          <ion-input
            [(ngModel)]="course.duration"
            placeholder="3"
            name="duration"
            required
            type="number"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col
        size="2"
        size-xs="12"
        size-sm="6"
        size-md="2"
        *ngIf="isLabCourse(course)"
      >
        <ion-item>
          <ion-label position="floating">Theory Course</ion-label>
          <ion-select [(ngModel)]="course.theoryCourseId" name="theoryCourseId">
            <ng-container *ngFor="let theory of courses">
              <ion-select-option
                [value]="theory.id"
                *ngIf="!isLabCourse(theory)"
              >
                {{ theory.shortTitle }} ({{ theory.department }})
              </ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="1.5" size-xs="12" size-sm="6" size-md="1.5">
        <ion-item>
          <ion-label>Core</ion-label>
          <ion-checkbox
            [(ngModel)]="course.isCoreCourse"
            name="isCoreCourse"
          ></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col
        size="3"
        size-xs="12"
        size-sm="6"
        size-md="3"
        *ngIf="course.isCoreCourse"
      >
        <ion-item>
          <ion-label position="floating">Prerequisite Course(s)</ion-label>
          <ion-select
            [(ngModel)]="course.prerequisiteIds"
            name="prerequisiteIds"
            multiple="true"
          >
            <ng-container *ngFor="let prerequisite of courses">
              <ion-select-option
                *ngIf="prerequisite.isCoreCourse"
                [value]="prerequisite.id"
                >{{ prerequisite.shortTitle }} ({{ prerequisite.department
                }})</ion-select-option
              >
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- Slots picker -->
      <ion-col size="2" size-xs="12" size-sm="6" size-md="2">
        <ion-item>
          <preferred-slots-picker
            [slots]="course.availableSlots"
          ></preferred-slots-picker>
        </ion-item>
      </ion-col>
      <ion-col size="2" size-xs="12" size-sm="6" size-md="2">
        <ion-button expand="full" [disabled]="!coursesForm.valid" type="submit"
          >Add Course</ion-button
        >
      </ion-col>
      <ion-col size="1.5" size-xs="12" size-sm="6" size-md="1.5">
        <ion-button
          expand="full"
          [disabled]="coursesForm.pristine"
          (click)="coursesForm.reset()"
          color="danger"
          >Reset</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
  <view-table type="courses" [courses]="courses"></view-table>
</ion-content>
