<form #editForm="ngForm" (ngSubmit)="updateEntry()">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Course</ion-label>
          <ion-select
            [interfaceOptions]="popoverInterfaceOptions"
            [(ngModel)]="localEntry.courseId"
            required
            name="course"
          >
            <ion-select-option
              *ngFor="let course of courses"
              [value]="course.id"
              >{{ course.shortTitle }} ({{
                course.department
              }})</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label position="floating">Strength</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="localEntry.strength"
            name="successors"
          >
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Teacher</ion-label>
          <ion-select
            [interfaceOptions]="popoverInterfaceOptions"
            [(ngModel)]="localEntry.teacherIds"
            name="teacher"
            multiple="true"
          >
            <ion-select-option
              *ngFor="let teacher of teachers"
              [value]="teacher.id"
              >{{ teacher.name }} ({{ teacher.department }})</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Section(s)</ion-label>
          <ion-select
            multiple="true"
            [interfaceOptions]="popoverInterfaceOptions"
            [(ngModel)]="mixedSections"
            required
            name="sections"
            (focusout)="fillSectionName()"
          >
            <ion-select-option
              *ngFor="let section of sections; trackBy: trackById"
              [value]="section"
              >{{ section.name }} ({{ section.batch }} -
              {{ section.department }})</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>Show Atomic Sections</ion-label>
          <ion-checkbox
            [(ngModel)]="showAtomicSections"
            name="hasAtomicSections"
          ></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-button
          type="submit"
          [disabled]="editForm.invalid || !editFormChanged()"
          expand="full"
          >Update</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="deleteEntry()" color="danger"
          >Delete</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
