<form #editForm="ngForm" (ngSubmit)="updateElement()">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Course</ion-label>
          <ion-select
            [interfaceOptions]="popoverInterfaceOptions"
            [(ngModel)]="localElement.courseId"
            required
            name="course"
          >
            <ion-select-option
              *ngFor="let course of courses"
              [value]="course.id"
              >{{ course.shortTitle }} ({{
                course.department
              }})</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label position="floating">Strength</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="localElement.strength"
            name="successors"
          >
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Teacher</ion-label>
          <ion-select
            [interfaceOptions]="popoverInterfaceOptions"
            [(ngModel)]="localElement.teacherIds"
            required
            name="teacher"
            multiple="true"
          >
            <ion-select-option
              *ngFor="let teacher of teachers"
              [value]="teacher.id"
              >{{ teacher.name }} ({{ teacher.department }})</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Section(s)</ion-label>
          <ion-select
            multiple="true"
            [interfaceOptions]="popoverInterfaceOptions"
            [(ngModel)]="localElement.sectionIds"
            required
            name="sections"
            (focusout)="fillSectionName()"
          >
            <ng-container *ngIf="localElement.hasAtomicSections; else normal">
              <ion-select-option
                multiple="true"
                *ngFor="let section of sections"
                [value]="section.id"
                >{{ section.name }} ({{ section.batch }} -
                {{ section.department }})</ion-select-option
              >
            </ng-container>
            <!-- Default view -->
            <ng-template #normal>
              <ion-select-option
                multiple="true"
                *ngFor="let section of normalSections"
                [value]="section.id"
                >{{ section.name }} ({{ section.batch }} -
                {{ section.department }})</ion-select-option
              >
            </ng-template>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>Show Atomic Sections</ion-label>
          <ion-checkbox
            [(ngModel)]="localElement.hasAtomicSections"
            name="hasAtomicSections"
          ></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-button
          type="submit"
          [disabled]="editForm.invalid || !editFormChanged()"
          expand="full"
          >Update</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="deleteElement()" color="danger"
          >Delete</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
