<ion-row>
  <ion-col class="ion-text-center" size="4">
    <ion-button (click)="selectAll()">Select All</ion-button>
  </ion-col>
  <ion-col class="ion-text-center" size="4">
    <ion-button color="danger" (click)="deselectAll()">Deselect All</ion-button>
  </ion-col>
  <ion-col class="ion-text-center" size="4">
    <ion-button (click)="setSlots()">Okay</ion-button>
  </ion-col>
</ion-row>
<ion-grid fixed>
  <!-- Actual Table -->
  <ion-row class="header">
    <ion-col size="2">
      <!--Empty-->
    </ion-col>
    <!-- Days -->
    <ion-col size="2">
      <ion-text (click)="toggleRow(0)">Monday</ion-text>
    </ion-col>
    <ion-col size="2">
      <ion-text (click)="toggleRow(1)">Tuesday</ion-text>
    </ion-col>
    <ion-col size="2">
      <ion-text (click)="toggleRow(2)">Wednesday</ion-text>
    </ion-col>
    <ion-col size="2">
      <ion-text (click)="toggleRow(3)">Thursday</ion-text>
    </ion-col>
    <ion-col size="2">
      <ion-text (click)="toggleRow(4)">Friday</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-text (click)="toggleColumn(0)">08:00-09:00</ion-text>
    </ion-col>
    <ion-col
      size="2"
      *ngFor="let dayNumber of localSlots; let i = index; trackBy: slotTracker"
    >
      <ion-checkbox [(ngModel)]="localSlots[i][0]"></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-text (click)="toggleColumn(1)">09:00-10:00</ion-text>
    </ion-col>
    <ion-col
      size="2"
      *ngFor="let dayNumber of localSlots; let i = index; trackBy: slotTracker"
    >
      <ion-checkbox [(ngModel)]="localSlots[i][1]"></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-text (click)="toggleColumn(2)">10:00-11:00</ion-text>
    </ion-col>
    <ion-col
      size="2"
      *ngFor="let dayNumber of localSlots; let i = index; trackBy: slotTracker"
    >
      <ion-checkbox [(ngModel)]="localSlots[i][2]"></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-text (click)="toggleColumn(3)">11:00-12:00</ion-text>
    </ion-col>
    <ion-col
      size="2"
      *ngFor="let dayNumber of localSlots; let i = index; trackBy: slotTracker"
    >
      <ion-checkbox [(ngModel)]="localSlots[i][3]"></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-text (click)="toggleColumn(4)">12:00-13:00</ion-text>
    </ion-col>
    <ion-col
      size="2"
      *ngFor="let dayNumber of localSlots; let i = index; trackBy: slotTracker"
    >
      <ion-checkbox [(ngModel)]="localSlots[i][4]"></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-text (click)="toggleColumn(5)">13:00-14:00</ion-text>
    </ion-col>
    <ion-col
      size="2"
      *ngFor="let dayNumber of localSlots; let i = index; trackBy: slotTracker"
    >
      <ion-checkbox [(ngModel)]="localSlots[i][5]"></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-text (click)="toggleColumn(6)">14:00-15:00</ion-text>
    </ion-col>
    <ion-col
      size="2"
      *ngFor="let dayNumber of localSlots; let i = index; trackBy: slotTracker"
    >
      <ion-checkbox [(ngModel)]="localSlots[i][6]"></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-text (click)="toggleRow(7)">15:00-16:00</ion-text>
    </ion-col>
    <ion-col
      size="2"
      *ngFor="let dayNumber of localSlots; let i = index; trackBy: slotTracker"
    >
      <ion-checkbox [(ngModel)]="localSlots[i][7]"></ion-checkbox>
    </ion-col>
  </ion-row>
</ion-grid>
