<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title slot="start">
        <ion-icon name="construct"></ion-icon>
        Generate Timetable
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-slides pager="true" [scrollbar]="true">
    <ion-slide *ngFor="let timetable of timetables"> -->
  <ion-card *ngFor="let timetable of timetables; let i = index">
    <ion-card-header>Timetable {{i + 1}}</ion-card-header>
    <ion-card-content>
      <schedule [timetable]="timetable"></schedule>
    </ion-card-content> </ion-card
></ion-content>
