<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title slot="start">
        <ion-icon name="construct"></ion-icon>
        Generate Timetable
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Connecting to Server -->
  <ion-row *ngIf="connecting">
    Connecting to server...
  </ion-row>
  <!-- Server Error -->
  <ion-row *ngIf="!connecting && !connected">
    Error: Could not connect to server
  </ion-row>
  <ng-container *ngIf="connected">
    <!-- Generating -->
    <ion-row *ngIf="generating">
      <!-- Progress Bar -->
      <ion-col class="margin-center" size="10">
        <ng-container *ngIf="timetablesProgresses === null; else progressBar">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </ng-container>
        <ng-template #progressBar>
          <ion-progress-bar [value]="timetablesProgresses"></ion-progress-bar>
        </ng-template>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-button (click)="cancel()" color="danger">Cancel</ion-button>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="!generating && timetables">
      <!-- Generate -->
      <ion-row *ngIf="timetables.length === 0; else generated">
        <ion-col class="ion-text-center" size="12">
          <ion-button (click)="generateTimetables()"
            >Generate Timetables</ion-button
          >
        </ion-col>
      </ion-row>
      <!-- Generated -->
      <ng-template #generated>
        <ion-card *ngFor="let timetable of timetables; let i = index">
          <ion-card-header>{{departments[i]}} Timetable</ion-card-header>
          <ion-card-content>
            <schedule
              [lectures]="timetable"
              [department]="departments[i]"
            ></schedule>
          </ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center" size="12">
            <ion-button (click)="deleteTimetables()"
              >Delete Timetables</ion-button
            >
          </ion-col>
        </ion-row>
      </ng-template>
    </ng-container>
  </ng-container>
</ion-content>
